<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <default>
        <google_customer_reviews>
            <badge>
                <enabled>0</enabled>
                <badge_position>BOTTOM_LEFT</badge_position>
            </badge>
            <opt_in>
                <enabled>0</enabled>
                <gtin_attribute>sku</gtin_attribute>
            </opt_in>
        </google_customer_reviews>
    </default>
</config>
